.chat-card {
  height: 90vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.chat-messages .from-me {
  background-color: #bfdbfe;
  align-self: flex-end;
}

.chat-messages div:not(.from-me) {
  background-color: #e5e7eb;
  align-self: flex-start;
}

.chat-composer input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
