/* Decoración curva lateral */
.decoration-curve {
  clip-path: ellipse(70% 100% at 100% 50%);
}

/* Espaciado adicional con CSS */
.login-card {
  padding: 2.5rem !important;
}

.login-header {
  margin-bottom: 1rem !important;
}

.login-header h2{
  padding-top: 24px;
}

.login-footer {
  margin-top: 1rem !important;
  padding-top: 1rem !important;
}
