<div class="p-2">
  <h4 class="text-sm font-medium mb-2">Conversaciones</h4>

  @for (c of conversations; track $index) {
  <mat-nav-list>
    <mat-list-item (click)="open(c.contactId)" style="cursor:pointer;">
      <div mat-line>{{ contactName(c.contactId) }}</div>
      <div mat-line class="text-xs text-gray-500">{{ c.lastMessage?.content }}</div>

      <span
        [matBadge]="c.unreadCount"
        [matBadgeHidden]="!c.unreadCount"
        matBadgeOverlap="false">
      </span>

    </mat-list-item>
  </mat-nav-list>
  }
</div>
