.actions {
  margin-bottom: 1rem;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info h3 {
  margin: 0;
}