<div class="error-container space-y-1 bg-red-500/20 rounded-lg">
  @if (errorMessage) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      {{ errorMessage }}
    </p>
  }

  @if (showFullNameRequiredError) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      El nombre completo es requerido
    </p>
  }

  @if (showEmailRequiredError) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      El email es requerido
    </p>
  }

  @if (showEmailInvalidError) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      Email inválido
    </p>
  }

  @if (showPasswordRequiredError) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      La contraseña es requerida
    </p>
  }

  @if (showCompanyRequiredError) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      La empresa es requerida
    </p>
  }

  @if (showUserTypeRequiredError) {
    <p class="text-gray-700 text-sm flex items-center">
      <mat-icon class="text-base">error_outline</mat-icon>
      Debes seleccionar un tipo de usuario
    </p>
  }
</div>

<form [formGroup]="form" (ngSubmit)="submitForm()" class="space-y-6">

  <!-- Nombre completo -->
  <div>
    <div class="relative">
      <input
        type="text"
        id="fullName"
        formControlName="fullName"
        required
        placeholder="Nombre completo"
        class="email-input bg-white text-sm rounded-lg w-full py-3.5 pr-3"
        style="padding-left: 3.2rem"
      />
    </div>
  </div>

  <!-- Email -->
  <div>
    <div class="relative">
      <input
        type="email"
        id="email"
        formControlName="email"
        required
        placeholder="Email"
        autocomplete="email"
        class="email-input bg-white text-sm rounded-t-lg w-full py-3.5 pr-3"
        style="padding-left: 3.2rem"
      />
    </div>
  </div>

  <!-- Password -->
  <div class="container-password">
    <div class="relative">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        id="password"
        formControlName="password"
        required
        placeholder="Contraseña"
        autocomplete="new-password"
        class="bg-white border text-gray-900 text-sm rounded-b-lg w-full pl-11 pr-12 py-3.5 "
      />
      <button
        type="button"
        (click)="hidePassword = !hidePassword"
        class="absolute top-1/2 -translate-y-1/2 right-0 pr-3 text-gray-500 hover:text-blue-600 cursor-pointer"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>

  <!-- Empresa -->
  <div>
    <div class="relative">
      <input
        type="number"
        id="companyId"
        formControlName="companyId"
        required
        placeholder="ID de la empresa"
        class="bg-white text-sm rounded-lg w-full py-3.5 pr-3"
      />
    </div>
  </div>

  <!-- Tipo Usuario -->
  <div>
    <div class="relative">
      <select
        id="userType"
        formControlName="userType"
        required
        class="bg-white text-sm rounded-lg w-full py-3.5 pr-3 border border-gray-300"
      >
        <option value="" disabled>Seleccioná un tipo de usuario</option>
        <option value="ADMIN">Admin</option>
        <option value="USER">Usuario</option>
      </select>
    </div>
  </div>

  <div class="relative group w-full">
    <button
      type="submit"
      [disabled]="isLoading"
      class="btn-login w-full cursor-pointer bg-blue-700 text-white font-medium rounded-xl py-3.5 shadow-lg disabled:cursor-not-allowed disabled:opacity-50"
    >
      {{ isLoading ? 'Registrando...' : 'Registrarse' }}
    </button>
  </div>
</form>
